<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .search-container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Weather App</h1>
        <div class="search-container mt-4">
            <h4>Search by City Name or Zipcode (US Only)</h4>
            <form method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="city_or_zip" placeholder="Enter name or zipcode" aria-label="Enter name or zipcode" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
                    </div>
                </div>
            </form>

            {% if city_or_zip and weather_response %}
                <div class="mt-3">
                    <h3 style="text-align: center;">Location: {{city_or_zip}}</h3>
                    <ul>
                        {% for stat in weather_response %}
                            <li>{{ stat }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>